* {
    margin: 10px
}

h1{
    padding: 15px;
    text-align: center;
}

.container{
    background-color: rgba(100, 148, 237, 0.589);
    width: 370px;
    border-radius: 10px;
    padding: 30px;
}

.item{
    display: flex;
    justify-content: space-between;
}

label{
    font-size: 18px;
}

.input{
    display: table-cell;
    }

.button{
    text-align: center;
}

button{
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: yellowgreen;
    color: black;
}

.list{
    background-color: rgba(255, 140, 0, 0.76);
}

.foodContainer{
    border: solid 1px black;
    min-height: 50px;
    border-radius: 10px;
}

li{
    font-size: 20px;
}